
.form-body{
    display: flex;
    width: 700px;
    border-radius: 20px;
    box-shadow:0 0 10px 1px #f15398;
    margin: 20px auto;
}
.head{
    margin-top: 40px;
    font-style: oblique;

}
.information{
    font-size: 20px;
}
.left-body{
    border-radius: 20px 0px 0px 20px;
    display: inline-block;
    padding: 10px 20px;
    width: 350px;
    height: 630px;
    background-color: #f15398;
    color:#fff;
}
.right-body{
    
    margin-top: 50px;

}
.text{
    font-size: 20px;
    text-align: start;
}
.input{
    width: 280px;
    height: 35px;
    background-color: #faafcf;
    border-radius: 5px;
    border:1px solid #2e2d2d;
    color: #fff;
}
.btn{
    padding: 10px 20px;
    background-color: #f15398;
    border-radius: 10px;
    border:1px solid #e40465;
    box-shadow:0 0 10px 0px #e40465;
    color: #fff;
    width: 100px;
    display: block;
    margin: 10px auto;
}
.btn:hover{
    border: 1px solid #e40465;
    box-shadow:0 0 20px 0px #e40465;
    width: 150px;
}
.login{
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
    width: 350px;
    padding: 20px;
}
.account{
    text-align: center;
    font-size: 20px;
}